<a href="https://colab.research.google.com/github/AshishBamba05/AttriSense/blob/main/decision_trees.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import pandas as pd

In [15]:
# Mount Google drive

from google.colab import drive
drive.mount('/content/drive')

df = pd.read_csv('/content/drive/MyDrive/AttriCast/employee_attrition_data.csv')
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,Employee_ID,Age,Gender,Department,Job_Title,Years_at_Company,Satisfaction_Level,Average_Monthly_Hours,Promotion_Last_5Years,Salary,Attrition
0,0,27,Male,Marketing,Manager,9,0.586251,151,0,60132,0
1,1,53,Female,Sales,Engineer,10,0.261161,221,1,79947,0
2,2,59,Female,Marketing,Analyst,8,0.304382,184,0,46958,1
3,3,42,Female,Engineering,Manager,1,0.480779,242,0,40662,0
4,4,44,Female,Sales,Engineer,10,0.636244,229,1,74307,0

In [16]:
# One-hot encoding of Work

one_hot = pd.get_dummies(
    df,
    columns=['Department', 'Gender', 'Job_Title'],
    prefix=['department', 'gender', 'job_title']
)
df = one_hot
df = df.fillna(df.median(numeric_only=True))

In [17]:
# Define X and y

X = df.drop(["Attrition", "Employee_ID"], axis = 1)
y = df["Attrition"]

In [18]:
# Train-Test Spliting

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [19]:
tree = DecisionTreeClassifier(random_state=42)
tree.fit(X_train, y_train)
y_test = tree.predict(X_test)